.headline {
    display: flex;
}

.headlineImg {

}

.info {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin: 0 0;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

}



.rating {
    display: grid;
    grid-auto-columns: 72px 72px;
    align-content: flex-start;
    
}

.like {
    display: flex;
    grid-area: 1/2;
}

.ratingLike {

}

.ratingLike img {
    height: 15px;
}

.ratingText {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.dislike {
    display: flex;
    height: 15px;
}


.ratingDislike {

}

.ratingText {

}

.label {
    display: flex;
    justify-content: space-between;
}

.labelLink {
    padding: 4px 8px;
    background-color:  rgba(80, 62, 157, 0.1);
    color: rgba(80, 62, 157, 1);
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
}

.labelClock {
    position: relative;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

}
.labelClock::before {
    display: block;
    content: '';
    position: absolute;
    top: 3px;
    left: -20px;
    height: 15px;
    width: 14px;
    background: url(./../../assets/img/icon-clock.svg) no-repeat;
}
